body {
	padding:10px;

}

div {
	margin-top:10%;
	margin-bottom:10%;

}


ul {
	list-style-type: none;
	border:2px solid black;
}

li {
	padding:1%;
}

#bipass-list {
}


.table{
	display:table;
	width:50%;
}

.body {
	display:table-row-group;
}
.row {
	display:table-row;
}
.cell{
        display: table-cell;
	padding: 3px 10px;
}




.btn {
	  box-shadow:none;
	  background:none;
	  border:none;
	  outline:none;
	  margin:0;
          padding:0;
	  font-family: Courier New;
	  color: #f50505;
	  font-size: 20px;
	  text-decoration: none;
	  }

	  .btn:hover {

		    text-decoration: none;
	    }
        


#section-save {

	text-align:right;

}
